tensorflow>=2.21.0
opencv-python>=4.8.0
mediapipe>=0.10.30
numpy>=1.24.0
pandas>=2.1.0
matplotlib>=3.8.0
scikit-learn>=1.4.0
screen-brightness-control>=0.22.0
pygame>=2.5.0
Pillow>=10.0.0
pyyaml>=6.0
scipy>=1.13.0
seaborn>=0.13.0
imagehash>=4.3.0
win10toast>=0.9
plyer>=2.1.0
streamlit>=1.28.0
